extends ../default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item.active Fornecedores
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Fornecedores
                    .card-body   
                      != messages()                        
                      table.table.table-striped
                        thead
                          tr
                            th Código
                            th Fornecedor
                            th País
                            th Contato  
                            th Ativo
                            th Ações
                        tbody                                                                                                         
                            each suppl in list                         
                              tr
                                td #{suppl.supplier}
                                td #{suppl.description}                                                                
                                td #{suppl.country}
                                td #{suppl.contact} 
                                td #{ativo = suppl.active==true?'Sim':'Não' }                            
                                td 
                                  .form-group
                                    form.form-horizontal(action='/suppliers/delete/#{suppl.id}', method='post')                                      
                                      a(href='/suppliers/edit/#{suppl.id}')
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove
                        if (pages > 1)
                          ul.pagination
                            != createPagination(pages, page)  
                      a(href='/suppliers/new', target='_top')    
                       button.btn.btn-primary.btn-sm(type='button') Novo